$bg-color: #2c3e50;
$hover-color: #16a085;
$text-color: #FFFFFF;

nav{
	ul{
		background: $bg-color;
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	li{
		display:inline-block;
	}

	a{
		color: $text-color;
		display:inline-block;
		padding: 10px 16px;
		text-decoration: none;
	}
	a:hover{
		bg-color: $hover-color;
	}	
}