/* line 6, ../sass/main.scss */
nav ul {
  background: #2c3e50;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 13, ../sass/main.scss */
nav li {
  display: inline-block;
}
/* line 17, ../sass/main.scss */
nav a {
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
}
/* line 23, ../sass/main.scss */
nav a:hover {
  bg-color: #16a085;
}
